.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.column-3 {
  width: 75%;
  float: left;
}
.column-2 {
  width:50%;
  float: left;
}

.column-1 {
  width: 25%;
  float: left;
}
 button {
width: 100%;
border: 2px solid grey;
background-color: lightskyblue;
color: white;
 }

 input {
   height: 100px;
   width: 100%;
   border :none;
   font-size: 2em;
   font-style: bold;
   float: right;

 }